#navbar {
    width: 45%;
    padding: 70px 5px;
    text-align: center; background-color:#1d3557; 
}

.nav {
    display: inline;
}



#sobreMim {
    height: max-content;
}

.nav-link {
    color: #a8dadc !important;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
}
  
.nav-link:before {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #a8dadc;
    transition: width 0.5s ease-in-out;
}
  
.nav-link:hover:before {
    width: 100%;
}

.conteudo {
    color:#a8dadc;
}

p, a {
    color: #a8dadc !important;
}

.card {
    border-radius: 10px;
}

html, body {
    height: 98vh;
}

.container-fluid {
    height: 90vh;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#f1faee;
    text-decoration: none;
    transition: text-decoration 5.0s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.titulo:hover {
    text-decoration: underline double;
}

.texto-comum{
    color:#b8f2e6;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    transition: font-size 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.texto-comum:hover{
    font-size: 1.01rem;
}

.card {
    font-weight: bold;
    background-color: #1d3557;
    color:#b8f2e6;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
}

strong {
    font-weight: bolder;
}

.content  {
    background-color:#e63946;
    opacity: 92%;
    vertical-align: center;
    height: 98vh;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

footer {
    width: 100%;
    background-color:aquamarine;
    height: 2vh;
}

footer p {
    text-align: right;
    font-size:7px   
}

i {
    font-size:3rem;
}

.toggle-sub-menu {
    display: none;
  }
  
  .sub-nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .toggle-sub-menu:checked ~ .sub-nav {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh; 
  }
  
  .image-container img {
    width: 50%; 
    height: auto; 
  }

  ol {
    list-style-type: circle;
  }


canvas {
	border: 1px solid black;
	border-radius: 20px;
	transition: opacity 0.5s ease-in-out;
	background-color: white;
  }
  
  .fade-out {
	opacity: 0;
  }
  
  .fade-in {
	opacity: 1;
  }
.content button {
background-color: #9f000f;
color: white;
border: none;
padding: 10px 20px;
margin-right: 10px;
}

#sides-input {
    background-color: #9f000f;
    color: white;
    border: none;
    padding: 5px;
    margin-right: 10px;
}